<div class="container" style="background-color: rgba(255, 255, 255, 0.5);">
    <h2 class="text-center title">What we believe</h2>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <h5><strong>London Student Mission</strong></h5>
            <div style="padding: 3px;">
                <p>
                    is a Christian student group made up of students and professionals that aims to teach the bible to students and young people.
                    Our hope is that people may see the claims of the gospel for themselves and come to know Jesus.
                </p>
                <p>We are a non denominational lay mission with no employed or full time church staff.</p>
                <p>We study the bible with anybody that is interested in our spare time.</p>
                <p>We are a registered charity and member of the Evangelical Alliance. (Charity registration number 1093126)</p>
                <p>We believe in the tenets of the protestant Christian faith as set out in the Apostles’ Creed.</p>
            </div>
        </div>

        <div class="col-sm-4">
            <h5><strong>the Apostles’ Creed</strong></h5>
            <p>
                1. We believe in God the Father, Almighty, Maker of heaven and earth:<br />
                2. And in Jesus Christ, his only Son, our Lord:<br />
                3. Who was conceived by the Holy Spirit, born of the Virgin Mary:<br />
                4. Suffered under Pontius Pilate; was crucified, dead and buried<br />
                5. The third day he rose again from the dead:<br />
                6. He ascended into heaven, and sits at the right hand of God the Father Almighty:<br />
                7. From thence he shall come to judge the living and the dead:<br />
                8. I believe in the Holy Spirit:<br />
                9. I believe in the holy catholic church*: the communion of saints:<br />
                10. The forgiveness of sins:<br />
                1l. The resurrection of the body:<br />
                12. And the life everlasting.<br /><br />

                * The church universal<br />
            </p>

        </div>
    </div>
</div>

