<div class="container" style="background-color: rgba(255, 255, 255, 0.5);">

    <h2 class="text-center title">Get in touch</h2>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="lead">Service time: every Sunday 2pm</p>
            <p>Feel free to email us!</p>
            <p><b>londonbiblestudy@gmail.com</b><br><br></p>
            <p>
                Address:<br />
                2nd Floor<br />
                Archway Methodist Church<br />
                London N19 3TD<br />
                1 minute from Archway tube.<br /><br />
            </p>

        </div>
    </div>

    <p>
        <br /><br />

    </p>


</div>

