<div class="container">

    <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

            <!-- Site Title, your name, HELLO msg, etc. -->
            <h1 class="title">London Student Mission</h1>
            @*				<h2 class="subtitle">Find  messages, questionaires</h2>*@

            <!-- Short introductory (optional) -->
            <ul class="list-inline">
                <li><a href="http://londonstudentmission.homeip.net/message" target="blank" class="btn btn-link"><i class="fa fa-book fa-fw"></i> Messages</a></li>
                <li><a href="http://londonstudentmission.homeip.net/questionsheet" target="blank" class="btn btn-link"><i class="fa fa-question-circle fa-fw"></i> Question sheets</a></li>
            </ul>

        </div> <!-- /col -->
    </div> <!-- /row -->

</div>

